.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
backend/consumer_log.txt
backend/consumer_log.txt.1
backend/consumer_log.txt.1.lck
backend/consumer_log.txt.lck
backend/producer_producer-1_log.txt
backend/producer_producer-1_log.txt.lck
/backend/target
.idea/workspace.xml
/backend/target
/test-videos
/backend/target
/backend/videos
/backend/target/protoc-dependencies/33e2ac1b65a57fd212f0f90eb4dbc793/google/type
.idea/workspace.xml
